body{
    background-image: url(img/Street\(1\).png);
    background-size: cover;
}

#character1{
    position: fixed;
    margin-top: 30%;
}

#character2{
    position: fixed;
    margin-top: 30%;
    margin-left: 60%;
}

#LABEL {
    color: black;
    position: absolute;
    font-size: 45px;
    top: 35%;
    margin-left: 15%;
}
#dw {
    margin-top: -10%;
    position: relative;
}
#btn {
    position: absolute;
    top: 61.5%;
    margin-left: -11%;
    background: url('dialog window/DialogArrow.png');
    border: 0;
    background-repeat: no-repeat;
}

.menu{
    position: fixed;
    padding: 20vh 50px;
    background: rgba(10, 10, 10, 0.5);
    height: 100vh;
    width: 15vh;
    backdrop-filter: blur(16px);
    border-right: 7px solid blueviolet;
    top: -1px;
    left: -210px;
    transition: all 0.2s ease;
}

.menu:hover{
    left: -5px;
    transition: all 0.2s ease;
}

.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
}

.title span{
    color: blueviolet;
}

.list-menu{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

.list-menu li{
    margin: 25px 0;
    list-style-type: none;
}

.list-menu a:hover{
    border-left: 2px solid blueviolet;
    padding-left: 10px;
    transition: all 0.2s ease;
}

.list-menu a{
    padding-left: 5px;
    color: white;
    transition: all 0.2s ease;
}

.menu-item {
    color: white;
}
#container-buttons {
    display: flex;
    position: absolute;
    top: 60%;
    margin-left: 35%;
    visibility: hidden;
  }
