body{
    background-image: url(img/Street\(1\).png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 5%;
    overflow: hidden;
    
}


.menu-button:hover .menu-lines{
    filter:contrast(3)
}

.menu-lines{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-lines::before{
    content: '';
    top: -15px;
}

.menu-lines::after{
    content: '';
    top: 15px;
}

#character1{
    margin-top: 5%;
}

#character2{
    margin-top: -30%;
    margin-left: 65%;
}
#LABEL {
    color: black;
    position: absolute;
    font-size: 45px;
    top: 35%;
    margin-left: 15%;
}
#dw {
    margin-top: -15%;
    position: relative;
}
#btn {
    position: absolute;
    top: 62%;
    margin-left: -35%;
}
